.container-d {
  margin-top: 7.5em;
}

.card-body {
  height: 100%;
  width: 30em;
}

.label-title {
  font-size: 0.8em;
}

.text-area-style {
  font-size: 0.8em;
  color: grey;
}

.switch-btn {
  height: 1em;
}

.fab {
  margin-right: 0.5em;
  color: grey;
}

.fab:hover {
  color: #1c6464;
  cursor: pointer;
}

::-webkit-scrollbar {
    width: 8px;
    
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #1c646431; 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #1c646444;
}
