<div class="mt-5 d-flex justify-content-center align-items-center">
    <div class="rounded w-85  bg-light align-items-center p-4">

        <!-- form -->
        <form [formGroup]="form" (submit)="submit()">
            <div class="d-flex justify-content-center">
                <p class="color-text font-weight-bold pb-4 m-0">Log in to Project Manager</p>
            </div>

            <!-- Email -->
            <div class="form-group">
                <label for="emailLogin">Email address</label>
                <input type="email" class="form-control" [class.is-invalid]="isEmailInvalid()" id="emailLogin"
                    aria-describedby="emailHelp" formControlName="email">
                <small id="emailHelp" class="form-text text-danger mb-3" *ngIf="isEmailInvalid()">Email is
                    required!</small>
            </div>

            <!-- Password -->
            <div class="form-group">
                <label for="passwordLogin">Password</label>
                <input type="password" class="form-control" [class.is-invalid]="isPasswordInvalid()" id="passwordLogin"
                    formControlName="password">
                <small id="passwordHelp" class="form-text text-danger mb-4" *ngIf="isPasswordInvalid()">Password
                    must have at least 6 characters!</small>
            </div>

            <!-- Check -->
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" [class.is-invalid]="isCheckboxInvalid()" id="checkLogin"
                    formControlName="checkbox">
                <label class="form-check-label mb-3" for="checkLogin">I agree with Terms and Conditions</label>
                <small id="checkHelp" class="form-text text-danger mb-4" *ngIf="isCheckboxInvalid()">You have to agree
                    with Terms and Conditions </small>
            </div>

            <!-- Log in -->
            <button type="submit" [disabled]="isFormInvalid()" class="submit-btn btn btn-primary btn-block active"
                data-toggle="button" aria-pressed="true">Log in</button>
        </form>
    </div>
</div>