<!-- user img -->
<div class="btn-group dropleft">
    <!-- Foi dado o path da imagem do avatar para a tag img, através do [src] -->
    <img [src]="avatarPath" width="50" height="50" type="button" class="dropdown-toggle" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
    <!-- dropdown logout -->
    <div class="index dropdown-menu">
        <h6 class="size-container-user ml-2 d-flex justify-content-start"><small>User</small></h6>
        <div class="dropdown-divider p-0 m-0 w-100"></div>
        <a class="size-container dropdown-item d-flex justify-content-center" href="#" (click)="logout()"><small>Log
                Out</small></a>
    </div>
</div>