.sub-header {
  background-color: hsla(211, 28%, 29%, 0.827);
  margin-top: 4.6em;
}

.sub-header-name {
  color: rgba(255, 255, 255, 0.698);
  font-size: 18px;
  font-weight: 500;
}

.sub-header-link {
  color: rgba(255, 255, 255, 0.698);
  font-size: 15px;
  font-weight: 500;
}
